        

nav {
  margin: 20px auto 0;
  margin-top: 90px;
margin-left: 490px;
  position: relative;
  width: 870px;
  height: 50px;
  background-color:  #34495e;;
  border-radius: 8px;
  font-size: 0;
  
}
nav a {
  line-height: 13px;
 
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 150px;
}
a:nth-child(2) {
  width: 160px;
}
a:nth-child(3) {
  width: 160px;
}
a:nth-child(4) {
  width: 210px;
}
a:nth-child(5) {
  width: 190px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 150px;
  left: 0;
  background-color: rgb(0, 0, 255);
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 160px;
  left: 150px;
  background-color: rgb(0, 140, 255);
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 160px;
  left: 310px;
  background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation { 
  width: 210px;
  left: 470px;
  background-color: #00ccff;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 190px;
  left: 680px;
  background-color: #2BD6B4;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  background:  #232528;
  
 
}
h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 15px;
    right: 45px;
    width: 40%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 19px;
}



.image{
  display: flex;
  align-items: center;
  
 
}

a,.dropbtn {
    
    color: rgb(222, 224, 230);
    text-align: right;
    padding: 49px 49px;
    text-decoration: none;
}
.container {
      position: relative;
      width: 50%;
      
}
.image {
      
      width: 100%;
      height: auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}    
.overlay {
      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0);
      
      color: #6e7ae2;
      width: 100%;
      
      opacity:6;
      color: white;
      font-size: 20px;
      padding: 20px;
      text-align: center;
}
.grad1 {
      height: 100%;
      
      
}

h1{
 
  font-family: 'Cherry Swash', cursive;
}

  a {
    
      display: inline-block;
      color: white;
      text-align: center;
      padding: 20px 0px;
}
.im{
    position: absolute; 
    height: 200px;
    margin-right: 225px;
}  
html, body {
      font: 16px/1.4 'Lato', sans-serif;
      color: rgb(248, 248, 248);
}

.menu_wrapper{
      background-color: rgb(19, 19, 139);
      position: absolute;
      height: 415px;
      width: 90px;
      
      padding: 0;
      margin-top: 300px;
      justify-content: center;
      border-radius: 40px;
      pointer-events: none;
      transition: 0.2s;
}
.menu_wrapper li {
      width: 90px ;
      height: 85px;
      border-radius: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      cursor: pointer;
      pointer-events: auto;
  
}
.menu_wrapper li a i{
      font-size: 32px;
      color: #63cee9;
      display: inline-block;
      transition: 0.8s;
      border-radius: 18px;
}
.menu_wrapper li :hover{
      background-color: #313131;
      transform: translateY(-5px);
      border-radius: 100px;
}
.menu_wrapper li :hover a i{
      color: rgb(77, 189, 209);
      transform: scale(0.5);
}
.menu_wrapper:hover{
      background-color: darkblue;
}
  /* hide scrollbar but allow scrolling */
  body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }
  
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  
  /* other styling */
  * {
    
    font-size: 20px;
    font-weight: s;
  }
    
